{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'importer/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'importer/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'importer/responsive.css' %}" />
    <link rel="shortcut icon" type="image/png" href="http://www.achadosepedidos.org.br/assets/images/favicon.png" sizes="16x16"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <title>Achados e Pedidos</title>
</head>
<body>
<div>
    <header>
        <div class="navbar-header">
            <nav class="navbar navbar-default">
                <a class="navbar-brand" href="/importer/index">
                    <img src="http://www.achadosepedidos.org.br/assets/images/home/logo-projeto.png" alt="logo">
                </a>
            </nav>
        </div>
    </header>
    {% if user.is_authenticated %}
    <br/>
    <nav>
        Olá, {{ user.first_name }}
        <div class="menu_superior">
            <a href="/importer/historico">Histórico</a> |
            <a href="{% url 'logout'%}?next={{request.path}}">Sair</a>
        </div>
    </nav>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>
