body {
    font-style: normal;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

div {
    display: block;
}

header .navbar {
    min-height: 80px;
    margin-bottom: 0;
}

header .navbar-default {
    background-color: #edf0f5;
    border-color: #e1e1e1;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before {
    content: " ";
    display: table;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* PROGRESS BAR */
#myProgress {
    width: 100%;
    background-color: #ddd;
}
#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}
